<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="Swtor.Dps.StatOptimizer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
		<section name="formulas" type="Swtor.Dps.DamageModel.Config.FormulasConfigurationSection, Swtor.Dps.DamageModel" />
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<userSettings>
		<Swtor.Dps.StatOptimizer.Properties.Settings>
			<setting name="ProfilePath" serializeAs="String">
				<value />
			</setting>
		</Swtor.Dps.StatOptimizer.Properties.Settings>
	</userSettings>
	<formulas
		accuracy="30 * (1 - Pow(1 - 0.01 / 0.3, [accuracy] / Max([level], 20.0) / 1)) / 100"
		alacrity="30 * (1 - Pow(1 - 0.01 / 0.3, [alacrity] / Max([level], 20.0) / 1.25)) / 100"
		critical="30 * (1 - Pow(1 - 0.01 / 0.3, [critical] / Max([level], 20.0) / 0.8)) / 100"
		surge="30 * (1 - Pow(1 - 0.01 / 0.3, [critical] / Max([level], 20.0) / 0.8)) / 100"
		masteryCritical="20 * (1 - Pow(1 - 0.01 / 0.2, [mastery] / Max([level], 20.0) / 5.5)) / 100"
		bonusDamage="[power] * 0.23 + [mastery] * 0.2"
		spellBonusDamage="[power] * 0.23 + [spellPower] * 0.23 + [mastery] * 0.2"
	/>
</configuration>
